footer.page-footer {
	background: $footer-background;
	background-size: 100% 100%;
	color: $font-color-milky;

	box-shadow: 0px -5px -5px rgba(0,0,0,0.75);

	.row {
		padding-top: 1rem;
	}


	.social-menu {
		a {
			color: $font-color-milky;
			font-size: 2.2rem;
			text-align: center;
			padding: 0.5rem;
			margin-right: 0.2rem;
			
			i {
				width: 3rem;
			}
			&:hover {
				border-width: 4px;
				margin-right: 0.1rem;
			}
		}
	}

	.footer-menu {
		li {
			margin-top: 0.3rem;
			//border-bottom: $font-color-milky solid 1px;

			a {
				color: $font-color-milky;
			}
			//&:first-child {
			//	border-top: $font-color-milky solid 1px;
			//}
		}

	}
}
