@import 'https://fonts.googleapis.com/css?family=Dosis|Encode+Sans+Semi+Condensed|Poiret+One|Yanone+Kaffeesatz|Yellowtail|Montserrat|Oswald';

$font-normal: 'Montserrat', sans-serif;
$font-header: 'Oswald', sans-serif;
$font-clean: 'Poiret One', sans-serif;
$font-fancy: 'Yellowtail', cursive;

//$header-background: url('/image/skyline-tucson.jpg');  //PHOTO: Andrew Brown, AZPM
//$header-background: url('/image/Tucson-downtown-skyline-cropped.jpg'); //PHOTO: Tucson Electric Power
$header-background: url('/image/background-gradient.jpg');
//$header-background: url('/image/background.jpg'); //PHOTO: me
//$footer-background: url('/image/background-gradient.jpg');
$footer-background: #474753;
$font-color-milky: #FFFDF6;

html {
	font-family: $font-normal;
}

.img-responsive {
	max-width: 100%;
}


.content-wrapper {
	background: rgba(0,0,0,0.04);
	padding-bottom: 1.5rem;
	padding-top: 0.5rem;

	box-shadow: 0 9px 0px 0px rgba(0,0,0,0), 0 -9px 0px 0px rgba(0,0,0,0), 12px 0 15px -4px rgba(0,0,0,0.05), -12px 0 15px -4px rgba(0,0,0,0.05);
}

.circle {
	border: solid 3px white;
	border-radius: 50%;
}
