/** Imports **/
@import "https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Encode+Sans+Semi+Condensed:700|Indie+Flower|Rajdhani";
@import 'blog';

/**
 *
 * Globals
 *
 */

$header-footer-bar: #162D59;
$page-background: #AFAFAF;
$content-background: #EFEFEF;

$font-color: #2E2E2E;

/** Links **/
a,
a:focus,
a:hover {
	color: $font-color;
}

/** Buttons **/
.btn-default,
.btn-default:hover,
.brn-default:focus {
	color: $font-color;
	text-shadow: none;
	background-color: #fff;
	border: #fff solid 1px;
}

/**
 *
 * Base Structure
 *
 */
html,
body {
	height: 100%;
	min-height: 100%;
	font-family: 'Rajdhani', sans-serif;

	background: $page-background;
}

.site-wrapper {
	//padding-top: 90px;
	//padding-bottom: 40px;
	min-height: 100%;
	background: $content-background;
	box-shadow: 12px 0 15px -4px #888, -12px 0 8px -4px #888;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;

	@media (min-width: 768px) {
		vertical-align: middle;
	}
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

/** Header **/
.site-title {
	text-align: center;
	font-size: 6em;
	font-family: 'Rajdhani', sans-serif;
}

/** Navigation **/
.nav.nav-pills {
	border-top: grey solid 2px;
	border-bottom: grey solid 2px;
	padding-top: 4px;
	padding-bottom: 4px;

	font-family: 'Indie Flower', cursive;
	font-size: 1.3em;

	> li {
		width: 20%;
		text-align: center;

		a {
			padding: 7px 13px;
		}
	}
	> li + li {
		margin-left: 0;
	}
}

/**
 *
 * Footer
 *
 */
