.blog-portfolio-card {
	padding-top: 1.5rem;

	&:hover {
		//background: rgba(0,0,0,0.03);
	}
	a.btn.btn-dark {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}
	.card-body {
		margin-bottom: 4rem;
	}
}

.portfolio-single-info {
	.portfolio-single-categories-tags {
		padding-bottom: 0.2rem;
	}
}

.portfolio-single-content.jumbotron {
	margin-top: 1.5rem;
	background: white;
	
}
