footer.page-footer {
	background: $footer-background-color;
	color: $font-color-milky;

	.row {
		padding-top: 1rem;
	}


	.social-menu {
		li {
			margin-top: 0rem;
			padding-top: 0rem;
			padding-bottom: 0rem;

			a {
				color: $font-color-milky;

				span {
					font-size: 1.5rem;
					width: 3.2rem;
					margin-right: 0.3rem;
				}
			}
		}
	}

	.footer-menu {
		li {
			margin-top: 0.3rem;
			//border-bottom: $font-color-milky solid 1px;

			a {
				color: $font-color-milky;
			}
			//&:first-child {
			//	border-top: $font-color-milky solid 1px;
			//}
		}

	}
}
