{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<article>
	<header>
		<h1>{{ .Title }}</h1>
		<div class="post-meta clearfix">
			<p>Posted on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
		</div>
		<hr />
	</header>

	<section>
		{{ .Content }}
	</section>

	{{ if .Site.Params.comments }}

	<section>
		<div id="graphcomment"></div>
		<script type="text/javascript">
  			/* - - - CONFIGURATION VARIABLES: MAKE SURE THE ID IS YOURS - - - */
  			window.graphcomment_id = 'williamhastings';
  			/* - - - DON'T EDIT BELOW THIS LINE - - - */
  			(function() {
	      			var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
	      			gc.src = 'https://graphcomment.com/js/integration.js';
	      			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
	    		}
		)();
		</script>
	</section>

	{{ end }}
</article>

{{ partial "footer.html" . }}
