		</div>

		<!-- Content END -->

		<!-- Footer START -->

		<footer class="container-fluid page-footer">
			<div class="container">
				<div class="row">
				<div class="footer-menu col-xs-12 col-sm-12 col-md-4">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a class="nav-link" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Ramblings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Portfolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Resume</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="twitter-feed col-xs-12 col-sm-12 col-md-4">
					            <a class="twitter-timeline"  href="https://twitter.com/willbhastings" data-widget-id="732359569528131584">Tweets by @willbhastings</a>
						    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
								          
				</div>
				<div class="social-menu col-xs-12 col-sm-12 col-md-4">
					<ul class="nav flex-column">
						<li class="nav-link">
							<a class="nav-link" href="#"><span class="badge badge-secondary"><i class="fa fa-linkedin" aria-hidden="true"></i></span>View me on LinkedIn</a>
						</li>
						<li class="nav-link">
							<a class="nav-link" href="#"><span class="badge badge-secondary"><i class="fa fa-twitter" aria-hidden="true"></i></span>Follow me on Twitter</a>
						</li>
						<li class="nav-link">
							<a class="nav-link" href="#"><span class="badge badge-secondary"><i class="fa fa-code-fork" aria-hidden="true"></i></span>View me on GitHub</a>
						</li>
						<li class="nav-link">
							<a class="nav-link" href="#"><span class="badge badge-secondary"><i class="fa fa-bitbucket" aria-hidden="true"></i></span>View me on BitBucket</a>
						</li>
						<li class="nav-link">
							<a class="nav-link" href="#"><span class="badge badge-secondary"><i class="fa fa-bicycle" aria-hidden="true"></i></span>View my JDRF Ride Page</a>
						</li>
					</ul>
				</div>
				<div class="col-12"><p class="copyright text-center">Copyright</p></div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Javascript START -->

	<script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

	<!-- Javascript END -->
</body>
</html>
