<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<!-- Overall Header BEGIN -->

<head>
	<!-- Character set, and Bootstrap required META -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SEO Meta -->
	<meta property="og:site_name" content="{{ .Site.Title }}" />
	<meta property="og:url" content="{{ .Permalink }}" />

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />

	<!-- JS in Footer Partial -->
</head>

<!-- Overall Header END -->

<body>
	<div class="site-wrapper">

		<!-- Site Header START -->
		<div class="container-fluid site-header">
			
			{{ partial "header-logo.html" . }}

		</div>

		<!-- Site Header END -->

		<!-- Navigation START -->
		<div class="container">

			{{ partial "navigation.html" . }}

		</div>
		<!-- Navigation END -->

		<!-- Content START -->
		<div class="container content-wrapper">
