<body>
    <header class="header header-large">
    <section class="header-text header-large-text">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      {{ with .Site.Params.subtitle }}
      <div class="tag-line">
        {{ . }}
      </div>
      {{ end }}
      {{ partial "link.html" . }}
      {{ with .RSSLink }}
      <a href="{{ . }}" class="btn-header btn-subscribe hidden-xs">
        <i class="fa fa-rss" aria-hidden="true"></i>
        &nbsp;Subscribe
      </a>
      {{ end }}
    </section>
  </header>
