{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<article class="container">
	<header>
		<h1>{{ .Title }}</h1>
		<div class="post-meta clearfix">
			<p>Posted on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
		</div>
	</header>

	<section>
		{{ .Content }}
	</section>

	<footer>
		<section class="row author-info">
			<div class="author-avatar col-xs-12 col-md-2">
				{{ with .Site.Params.avatar }}
				<img alt="Author Avatar" src="{{ . }}" />
				{{ end }}
			</div>
			<div class="author-meta col-xs-12 col-md-6">
				{{ with .Site.Params.author }}
				<h1 class="author-name">{{ . }}</h1>
				{{ end }}
				{{ with .Site.Params.bio }}
				<div class="author-bio">
					{{ . }}
				</div>
				{{ end }}
			</div>
			{{ with .Site.Params.contact }}
			<div class="author-contact col-xs-12 col-md-4">
				<a href="{{ . }}">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					&nbsp;Contact Me!
				</a>
			</div>
			{{ end }}
		</section>
</article>
	
{{ partial "footer.html" . }}
