.blog-article-list {
	//margin-top: 0.5rem;
	//margin-bottom: 1.5rem;

	.blog-post-small {
		&:hover {
			background: rgba(0,0,0,0.03);
		}
	}
	h1 {
		//font-family: $font-fancy;
		font-size: 2.75rem;
		font-weight: 700;
	}
	.read-more {
		margin-top: 1rem;
		overflow: hidden;
	}
}
