{{ if .IsHome }}

<div class="container title-text-wrapper-home">
	<h1>Welcome!</h1>
	<h2>My name is William Hastings, and I am a Computer Science Undergraduate!</h2>
	<p>
		{{ .Site.Params.subtitle }}
	</p>
	<div class="social-links">
		{{ range .Site.Menus.social }}

		<a class="circle" title="{{ .Name }}" href="{{ .URL }}">{{ .Pre }}</a>

		{{ end }}
	</div>
</div>

{{ else }}

<div class="container title-text-wrapper">
	<h1 class="title-text">William Hastings</h1>
	<p class="title-sub-text">
		{{ .Site.Params.shortsubtitle }}
	</p>
</div>

{{ end }}
