footer.page-footer {
	background: $footer-background-color;
	color: $font-color-milky;

	.footer-menu {
		li {
			margin-top: 5px;
			border-bottom: $font-color-milky solid 1px;

			a {
				color: $font-color-milky;
			}
			&:first-child {
				border-top: $font-color-milky solid 1px;
			}
		}

	}
}
